<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>login page</title>
  <! <link rel="stylesheet" src="node_modules/materialize-css/dist/css/materialize.min.css"> -->
  <!-- <link src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

    <div class="container">
      <input id="txtEmail" type="email" placeholder="Email">
      <input id="txtPassword" type="Password" placeholder="Password">
      <button id="btnLogin" class="btn btn-action" >Login</button>
      <button id="btnSignup" class="btn btn-secondary" >Sign Up</button>
      <button id="btnLogout" class="btn btn-action hide" >Log Out</button>
    </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="../dist/app.js"></script>
</body>
</html>
 -->
