{{!-- <div class="row">
  {{#each movie}}
    <div class="col s5 card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/10">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li>"Movie name: {{Title}}</li>
            <li>Year released: {{year}}</li>
            <li>Actors:  N/A</li>
            <li>Rating:  "3</li>
            <li>Watched/Not:  false</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="#">Add to watch</a>
          <a href="#">Delete</a>
        </div>
      </div>
    </div>
  {{#each movie}}
</div>
 --}}
