
#userSearch {
  color:black;
}

.movieCard {
  height: 350px;
  overflow: scroll;
}

#curentLocation {
  color: #aaa;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.selectedBtn {
  color: black;
}

.active-star {
  color: goldenrod;
}

.hover-star {
  color: goldenrod;
}

i {
  cursor: pointer;
}

.black-star {
  color: black;
}

.range-field {
  margin-top: 35px;
}

#userSearch {
  padding: 10px;
}

::-webkit-input-placeholder {
  color: black;
}

#auth-btn,
#auth-btnLogOut {
  margin-top: 12px;
}

